<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
		<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="psmon.github" value="https://nuget.pkg.github.com/psmon/index.json" />
    </packageSources>
    <packageSourceCredentials>
		<psmon.github>
            <add key="Username" value="psmon" />
            <add key="ClearTextPassword" value="9d5defa3db7ec456b0bad0b273e720ff33860396" />
    </psmon.github>
    </packageSourceCredentials>
</configuration>